In [20]:
import pandas as pd
import numpy as np 
import requests

In [25]:

final = pd.DataFrame()

for j in range(1,51):
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=2c2804fdfa1dc147b6e72eaf8ced470f&language=en-US&page={}.format(j)').json()


    popularity=[]
    vote_count=[]
    vote_average=[]
    title=[]
    original_language=[]
    overview=[]
    

    for i in response['results']:
        popularity.append(i['popularity'])
        vote_count.append(i['vote_count'])
        vote_average.append(i['vote_average'])
        title.append(i['title'])
        original_language.append(i['original_language'])
        overview.append(i['overview'])
        
        
    d = {'title':title,' popularity': popularity,'original_language':original_language,'vote_average':vote_average,'vote_count':vote_count,'overview':overview}
    df = pd.DataFrame(d)
    
    final = final.append(df,ignore_index=True)

C:\Users\User\AppData\Local\Temp\ipykernel_31588\312385838.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df,ignore_index=True)

In [26]:
final

,title,popularity,original_language,vote_average,vote_count,overview
0,The Super Mario Bros. Movie,13700.561,en,7.5,951,"While working underground to fix a water main,..."
1,Shazam! Fury of the Gods,7479.031,en,7.0,916,"Billy Batson and his foster siblings, who tran..."
2,Avatar: The Way of Water,4975.169,en,7.7,7195,Set more than a decade after the events of the...
3,Creed III,4593.748,en,7.3,1024,"After dominating the boxing world, Adonis Cree..."
4,65,3237.667,en,6.3,561,"65 million years ago, the only 2 survivors of ..."
...,...,...,...,...,...,...
995,Chupa,2034.701,en,6.5,121,"While visiting family in Mexico, a lonely boy ..."
996,Supercell,1443.022,en,6.1,81,Good-hearted teenager William always lived in ...
997,The Park,1205.219,en,5.8,29,A dystopian coming-of-age movie focused on thr...
998,The Mummy Resurrection,993.726,en,5.4,5,"When an infamous ""cursed"" Egyptian sarcophagus..."
999,The Exorcist,1024.803,es,5.6,64,"Ophelia, a young nun recently arriving in the ..."

In [28]:
final.to_csv('movies.csv')