In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 1. find the third highest salary.

In [112]:
df_emp = pd.read_csv("EMPLOYEE_DB.csv")
df_emp.head()
third_highest = df_emp.nlargest(3,'SALARY').iloc[[-1]]
third_highest

third_highest = df_emp.sort_values(by='SALARY',ascending = False).iloc[2]
third_highest

EMP_ID              E428
FIRST_NAME          Pete
LAST_NAME          Allen
GENDER                 M
ROLE             MANAGER
DEPT          AUTOMOTIVE
EXP                   14
COUNTRY          GERMANY
CONTINENT         EUROPE
SALARY             11000
EMP_RATING             4
MANAGER ID          E002
Name: 17, dtype: object