In [2]:
import pandas as pd

In [3]:
columns = ["WORKER_ID", "FIRST_NAME", "LAST_NAME", "SALARY", "JOINING_DATE", "DEPARTMENT"]
data = [
    (1, 'Monika', 'Arora', 100000, '2020-02-14 09:00:00', 'HR'),
    (2, 'Niharika', 'Verma', 80000, '2011-06-14 09:00:00', 'Admin'),
    (3, 'Vishal', 'Singhal', 300000, '2020-02-14 09:00:00', 'HR'),
    (4, 'Amitabh', 'Singh', 500000, '2020-02-14 09:00:00', 'Admin'),
    (5, 'Vivek', 'Bhati', 500000, '2011-06-14 09:00:00', 'Admin'),
    (6, 'Vipul', 'Diwan', 200000, '2011-06-14 09:00:00', 'Account'),
    (7, 'Satish', 'Kumar', 75000, '2020-01-14 09:00:00', 'Account'),
    (8, 'Geetika', 'Chauhan', 90000, '2011-04-14 09:00:00', 'Admin')
]
df = pd.DataFrame(data,columns = columns)
print(df)
df["JOINING_DATE"] = pd.to_datetime(df["JOINING_DATE"])

   WORKER_ID FIRST_NAME LAST_NAME  SALARY         JOINING_DATE DEPARTMENT
0          1     Monika     Arora  100000  2020-02-14 09:00:00         HR
1          2   Niharika     Verma   80000  2011-06-14 09:00:00      Admin
2          3     Vishal   Singhal  300000  2020-02-14 09:00:00         HR
3          4    Amitabh     Singh  500000  2020-02-14 09:00:00      Admin
4          5      Vivek     Bhati  500000  2011-06-14 09:00:00      Admin
5          6      Vipul     Diwan  200000  2011-06-14 09:00:00    Account
6          7     Satish     Kumar   75000  2020-01-14 09:00:00    Account
7          8    Geetika   Chauhan   90000  2011-04-14 09:00:00      Admin

In [4]:
columns = ['WORKER_REF_ID', 'BONUS_AMOUNT', 'BONUS_DATE']
data = [
    (1, 5000, '16-02-20'),
		(2, 3000, '16-06-11'),
		(3, 4000, '16-02-20'),
		(1, 4500, '16-02-20'),
		(2, 3500, '16-06-11')
]
df2 = pd.DataFrame(data,columns = columns)
df2["BONUS_DATE"] = pd.to_datetime(df2["BONUS_DATE"])
print(df2)

   WORKER_REF_ID  BONUS_AMOUNT BONUS_DATE
0              1          5000 2020-02-16
1              2          3000 2011-06-16
2              3          4000 2020-02-16
3              1          4500 2020-02-16
4              2          3500 2011-06-16

C:\Users\HP\AppData\Local\Temp\ipykernel_15980\3887779754.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2["BONUS_DATE"] = pd.to_datetime(df2["BONUS_DATE"])

In [5]:
col = ['WORKER_REF_ID', 'WORKER_TITLE', 'AFFECTED_FROM']
data = [(1, 'Manager', '2016-02-20 00:00:00'),
 (2, 'Executive', '2016-06-11 00:00:00'),
 (8, 'Executive', '2016-06-11 00:00:00'),
 (5, 'Manager', '2016-06-11 00:00:00'),
 (4, 'Asst. Manager', '2016-06-11 00:00:00'),
 (7, 'Executive', '2016-06-11 00:00:00'),
 (6, 'Lead', '2016-06-11 00:00:00'),
 (3, 'Lead', '2016-06-11 00:00:00')]
df3 = pd.DataFrame(data,columns = col)
df3["AFFECTED_FROM"] = pd.to_datetime(df3["AFFECTED_FROM"])
print(df3)

   WORKER_REF_ID   WORKER_TITLE AFFECTED_FROM
0              1        Manager    2016-02-20
1              2      Executive    2016-06-11
2              8      Executive    2016-06-11
3              5        Manager    2016-06-11
4              4  Asst. Manager    2016-06-11
5              7      Executive    2016-06-11
6              6           Lead    2016-06-11
7              3           Lead    2016-06-11

In [6]:
#query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.
#SELECT FIRST_NAME AS WORKER_NAME FROM WORKER;
df_worker_name = df[["FIRST_NAME"]].rename(columns={"FIRST_NAME":"WORKER_NAME"})

In [7]:
# in upper case 
# SELECT UPPER(FIRST_NAME) AS WORKER_NAME FROM WORKER;
df_worker_name["WORKER_NAME"] = df_worker_name["WORKER_NAME"].str.upper()

In [8]:
#Fetching unique values of the 'DEPARTMENT' column and renaming it to 'UNOQUE_DEPT'
# SELECT DISTINCT(DEPARTMENT) AS UNOQUE_DEPT FROM WORKER;
df_uniq_dept = df["DEPARTMENT"].drop_duplicates().reset_index(drop = True)
df_uniq_dept.head()

0         HR
1      Admin
2    Account
Name: DEPARTMENT, dtype: object

In [11]:
# Extracting the first three characters of 'FIRST_NAME' and renaming the column to 'FIRST_3'
# SELECT SUBSTRING(FIRST_NAME,1,3) AS FIRST_3 FROM WORKER;
df_first_3 = df["FIRST_NAME"].str[:3]

In [13]:
# Finding the position of the alphabet 'b' in the FIRST_NAME column where FIRST_NAME is 'Amitabh'
# SELECT INSTR(FIRST_NAME,'b') from WORKER WHERE FIRST_NAME = 'Amitabh';
# SELECT INSTR('Abhishek Singh Malviya','M') ;
df.loc[df['FIRST_NAME']=='Amitabh','FIRST_NAME'].str.find('b')
position_b = df.loc[df['FIRST_NAME'] == 'Amitabh', 'FIRST_NAME'].str.find('b')
print(position_b)

3    5
Name: FIRST_NAME, dtype: int64

In [25]:
# Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.
# SELECT RTRIM(FIRST_NAME) AS FIRST_NAME FROM WORKER;
df["FIRST_NAME"]=df["FIRST_NAME"].str.lstrip()
df["FIRST_NAME"]

0      Monika
1    Niharika
2      Vishal
3     Amitabh
4       Vivek
5       Vipul
6      Satish
7     Geetika
Name: FIRST_NAME, dtype: object

In [51]:
# query that fetches the unique values of DEPARTMENT from Worker table and prints its length.
# SELECT DISTINCT(DEPARTMENT),LENGTH(DEPARTMENT) FROM WORKER;
# df_uniq_dept = df["DEPARTMENT"].unique()
# df_uniq_dept_len = pd.DataFrame({"DEPARTMENT":df_uniq_dept,"length":[len(dept) for dept in df_uniq_dept]})
# print(df_uniq_dept_leN)

dept_lengths = df.groupby("DEPARTMENT", as_index=False).first() 
dept_lengths["LENGTH"] = df["DEPARTMENT"].apply(len)
dept_lengths = dept_lengths[["DEPARTMENT", "LENGTH"]]

dept_lengths.head()

  DEPARTMENT  LENGTH
0    Account       2
1      Admin       5
2         HR       2

In [57]:
# Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.
# SELECT REPLACE(FIRST_NAME,'a','A') as new_name from worker;
df["New_name"] = df["FIRST_NAME"].str.replace('a','A')
df["New_name"]

0      MonikA
1    NihArikA
2      VishAl
3     AmitAbh
4       Vivek
5       Vipul
6      SAtish
7     GeetikA
Name: New_name, dtype: object

In [ ]:
# query to print the FIRST_NAME and LAST_NAME from Worker table into a single column COMPLETE_NAME.
# -- A space char should separate them.
# SELECT CONCAT(FIRST_NAME," ",LAST_NAME) AS COMPLETE_NAME FROM WORKER;

# Method 1: Using str.cat() (Preferred)
df["COMPLETE_NAME"] = df["FIRST_NAME"].str.cat(df["LAST_NAME"], sep=" ")

# Method 2: Using string concatenation
# df["COMPLETE_NAME"] = df["FIRST_NAME"] + " " + df["LAST_NAME"]